.meetingList {
  padding: 20px 0;
}
.collapseContent {
  display: flex;
  align-items: center;
}
.speaker {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.descriptionBlock {
  margin: 0 30px;
  width: 40%;
  align-self: flex-start;
}
.descriptionTitle {
  margin-bottom: 0;
}

@media screen and (max-width: 520px) {
  .collapseContent {
    flex-direction: column;
  }
  .descriptionBlock, .tagsNtime{
    width: 100%;
  }
  .speaker {
    margin: 30px;
  }
}